<div class="vk-flex vk-gap-2 vk-flex-col">
  <vk-button (click)="handleClick()">Button</vk-button>
  <vk-badge color="green">Badge</vk-badge>
  <vk-button-gradient color="yellow" (click)="handleClick()"
    >Button</vk-button-gradient
  ><vk-alert>Alert</vk-alert>
  <vk-alert-box>Alert</vk-alert-box>
  <vk-h1>Heading 1</vk-h1>
  <vk-card-title>Card Title</vk-card-title>

  <vk-card class="vk-w-96">
    <vk-card-title>Card</vk-card-title>
    <vk-card-text>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa cupiditate
      commodi minima molestias assumenda unde maiores perspiciatis consequuntur.
      Corporis cumque rerum doloribus illum?
    </vk-card-text>
  </vk-card>

  <span class="vk-spinner-red"></span>
</div>
