<div class="bg-slate-300 flex">
  <vk-sidebar color="red">
    <span brand>Brand Name</span>
    <div links>
      <vk-sidebar-link href="#">Profile</vk-sidebar-link>
    </div>
  </vk-sidebar>
  <div class="flex-1 h-dvh bg-red-500">
    <details class="vk-accordion">
      <summary>Accordian</summary>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet quia
        sit dignissimos sapiente dolore commodi, adipisci quae ipsum saepe ab.
        Iure saepe libero sequi earum ratione possimus voluptas, minus dicta.
      </p>
    </details>

    <vk-modal #vkmodal>
      <vk-modal-title title>Modal Title</vk-modal-title>
      <vk-modal-body body>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quod
        veniam blanditiis iusto? Tempore assumenda reprehenderit in placeat
        perspiciatis, eveniet itaque architecto alias animi veritatis, at atque
        eligendi nemo cupiditate earum libero fuga soluta debitis et fugit
        distinctio cumque accusantium culpa? Cupiditate totam quasi itaque
        repellendus aliquid fugiat inventore a reiciendis consequuntur eaque
        earum aspernatur accusamus temporibus, laborum molestias at doloribus
        omnis recusandae suscipit facilis non voluptatum. Id sequi consectetur
        eum labore optio omnis aspernatur! Porro obcaecati suscipit explicabo,
        voluptate rerum, quisquam delectus totam quibusdam repudiandae
        asperiores beatae laborum aperiam maiores eaque ipsa incidunt eum hic
        facere aspernatur vel. Laboriosam?
      </vk-modal-body>
      <vk-modal-buttons buttons>
        <vk-button color="cyan" (click)="hideModal()">Custom Close</vk-button>
      </vk-modal-buttons>
    </vk-modal>
  </div>
</div>
